<mat-toolbar>
  <div class="header">
    <h1>Hello, angular-init</h1>

    <div class="nav">
      <button mat-raised-button [routerLink]="['']" color="primary">
        Main
      </button>

      <button mat-raised-button [routerLink]="['page1']" color="primary">
        Page 1
      </button>

      <button mat-raised-button [routerLink]="['page2']" color="primary">
        Page 2
      </button>

      <button mat-raised-button [routerLink]="['page3']" color="primary">
        Page 3
      </button>
    </div>

    <div class="login">
      <button
        mat-raised-button
        class="loginButton"
        color="primary"
        (click)="login()"
      >
        Login
      </button>
    </div>
  </div>
</mat-toolbar>
