<mat-toolbar>
  <div class="header">
    <h1>
      Podcastmanager - <span> {{ currentPage }}</span>
    </h1>

    <div class="nav">
      <button
        *ngIf="oauthService.hasValidAccessToken()"
        mat-raised-button
        [routerLink]="['']"
        color="primary"
      >
        Home
      </button>

      <button
        *ngIf="oauthService.hasValidAccessToken()"
        mat-raised-button
        [routerLink]="['artists']"
        color="primary"
      >
        Artists
      </button>

      <div>
        <button
          *ngIf="!oauthService.hasValidAccessToken()"
          mat-raised-button
          class="loginButton"
          color="primary"
          style="background-color: #09821b"
          (click)="login()"
        >
          Login
        </button>

        <button
          *ngIf="oauthService.hasValidAccessToken()"
          mat-raised-button
          class="logoutButton"
          color="warn"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
