/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
main {
  padding: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.delete-button-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 8px;
  }
}
